Repository civicteam/mcp-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies, ci, test

Comments to explain mcp sdk spec deviation wrt missing tools
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/error-callbacks.integration.test.ts
Labels: passthrough-mcp-server, test

Remove dead code
  packages/local-tools-hook/src/hook.test.ts
Labels: test

Version updates
  packages/api-key-hook/package.json
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/fetch-docs/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/package.json
  packages/rate-limit-hook/package.json
  packages/server-hook/package.json
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies

fix: correct parameter naming in router implementations
  packages/hook-common/src/router.ts
Labels: hook-common

chore: bump all package versions for v0.12.0 release
  packages/api-key-hook/package.json
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/fetch-docs/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/package.json
  packages/rate-limit-hook/package.json
  packages/server-hook/package.json
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies

chore: bump all package versions for v0.12.0 release
  packages/api-key-hook/package.json
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/fetch-docs/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/package.json
  packages/rate-limit-hook/package.json
  packages/server-hook/package.json
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies

fix: mark test packages as private to prevent npm publishing
  test/integration/hooks/package.json
  test/integration/servers/programmatic-passthrough/package.json
Labels: dependencies, test

fix: upgrade @modelcontextprotocol/sdk to 1.26.0 and zod to 4.x
  packages/local-tools-hook/src/hook.test.ts
  packages/local-tools-hook/src/hook.ts
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/error-callbacks.integration.test.ts
  packages/passthrough-mcp-server/src/protocol/passthroughBaseProtocol.ts
  packages/server-hook/src/hook.test.ts
  pnpm-lock.yaml
Labels: passthrough-mcp-server, dependencies, test

fix: pass hook-modified request to response hooks
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/integration-tests/helpers/MetaRoundtripHook.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.hooks-only.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

chore: release passthrough-mcp-server v0.12.1
  packages/passthrough-mcp-server/package.json
Labels: passthrough-mcp-server, dependencies

Add playwright-tokensaver-proxy package
  README.md
  packages/playwright-tokensaver-proxy/CHANGELOG.md
  packages/playwright-tokensaver-proxy/README.md
  packages/playwright-tokensaver-proxy/package.json
  packages/playwright-tokensaver-proxy/run.sh
  packages/playwright-tokensaver-proxy/src/hook.test.ts
  packages/playwright-tokensaver-proxy/src/hook.ts
  packages/playwright-tokensaver-proxy/src/index.ts
  packages/playwright-tokensaver-proxy/tsconfig.json
  packages/playwright-tokensaver-proxy/vitest.config.ts
  pnpm-lock.yaml
  test/playwright-tokensaver-proxy.json
Labels: documentation, dependencies, test

docs: update playwright-tokensaver-proxy usage instructions
  packages/playwright-tokensaver-proxy/README.md
  packages/playwright-tokensaver-proxy/package.json
Labels: documentation, dependencies

feat: add reconnectServer() to PassthroughContext for transport replacement
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/integration-tests/reconnectServer.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

docs: document failed-connect edge case in reconnectServer()
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'hook-common' label to changes in the hook-common package
hook-common:
  - changed-files:
    - any-glob-to-any-file: 'packages/hook-common/**'

# Add 'passthrough-mcp-server' label to changes in the passthrough-mcp-server package
passthrough-mcp-server:
  - changed-files:
    - any-glob-to-any-file: 'packages/passthrough-mcp-server/**'

# Add 'audit-hook' label to changes in the audit-hook package
audit-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/audit-hook/**'

# Add 'guardrail-hook' label to changes in the guardrail-hook package
guardrail-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/guardrail-hook/**'

# Add 'simple-log-hook' label to changes in the simple-log-hook package
simple-log-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/simple-log-hook/**'

# Add 'fetch-docs' label to changes in the fetch-docs package
fetch-docs:
  - changed-files:
    - any-glob-to-any-file: 'packages/fetch-docs/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
