Repository civicteam/mcp-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies, ci, test

fix: ensure response hooks are processed when request hook returns direct response
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: passthrough-mcp-server, test

feat: status commit
  packages/passthrough-mcp-server/src/lib/http/request.ts
  packages/passthrough-mcp-server/src/server/stdio/ProxyStdioServerTransport.ts
  packages/passthrough-mcp-server/src/server/stdio/sseConnection.ts
Labels: passthrough-mcp-server

feat: export createMCPHandler for direct consumption
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/index.ts
Labels: passthrough-mcp-server, dependencies

refactor: restructure transport handling for better abstraction
  packages/passthrough-mcp-server/src/cli.ts
  packages/passthrough-mcp-server/src/createProxies.test.ts
  packages/passthrough-mcp-server/src/createProxies.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/lib/config.ts
  packages/passthrough-mcp-server/src/lib/http/request.ts
  packages/passthrough-mcp-server/src/server/stdio/ProxyStdioServerTransport.ts
  packages/passthrough-mcp-server/src/server/stdio/stdioHandler.ts
  packages/passthrough-mcp-server/src/server/stdio/stdioPassthroughProxy.ts
  packages/passthrough-mcp-server/src/server/transport/sseConnection.ts
  packages/passthrough-mcp-server/src/server/transport/transportHandler.ts
  packages/passthrough-mcp-server/src/server/transport/transportPassthroughProxy.ts
  packages/passthrough-mcp-server/src/server/transport/transportProxyServer.ts
  packages/passthrough-mcp-server/src/types.ts
  test/integration/http/headers.test.ts
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/api-key-protected/src/index.ts
  test/integration/servers/api-key-protected/tsconfig.json
Labels: passthrough-mcp-server, dependencies, test

feature: added new passthrough-sdk project
  packages/passthrough-sdk/package.json
  packages/passthrough-sdk/src/client/streamableHttp.test.ts
  packages/passthrough-sdk/src/client/streamableHttp.ts
  packages/passthrough-sdk/src/index.ts
  packages/passthrough-sdk/src/server/streamableHttp.test.ts
  packages/passthrough-sdk/src/server/streamableHttp.ts
  packages/passthrough-sdk/tsconfig.json
  packages/passthrough-sdk/vitest.config.ts
  pnpm-lock.yaml
Labels: dependencies, test

feat: implement PassthroughContext with server/client protocol coordination
  packages/passthrough-sdk/package.json
  packages/passthrough-sdk/src/client/httpClientContext.ts
  packages/passthrough-sdk/src/client/passthroughClient.ts
  packages/passthrough-sdk/src/server/httpServerContext.ts
  packages/passthrough-sdk/src/server/passthroughServer.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  packages/passthrough-sdk/src/shared/passthroughSessionContext.ts
  packages/passthrough-sdk/src/shared/passthroughTransport.ts
Labels: dependencies

feat: add comprehensive tests for PassthroughBaseProtocol
  packages/passthrough-sdk/src/client/passthroughClient.ts
  packages/passthrough-sdk/src/client/streamableHttp.test.ts
  packages/passthrough-sdk/src/client/streamableHttp.ts
  packages/passthrough-sdk/src/protocol/passthroughBaseProtocol.test.ts
  packages/passthrough-sdk/src/protocol/passthroughBaseProtocol.ts
  packages/passthrough-sdk/src/server/passthroughServer.ts
  packages/passthrough-sdk/src/server/streamableHttp.test.ts
  packages/passthrough-sdk/src/server/streamableHttp.ts
  packages/passthrough-sdk/src/shared/passthroughSessionContext.ts
Labels: test

feat: add comprehensive cleanup tests and cascading transport closure
  packages/passthrough-sdk/src/integration-tests/passthrough-cleanup.integration.test.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.integration.test.ts
  packages/passthrough-sdk/src/server/streamableHttp.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
Labels: test

feat: enhance PassthroughSessionContext and fix integration tests
  packages/passthrough-sdk/src/integration-tests/passthrough.integration.test.ts
  packages/passthrough-sdk/src/server/passthroughServer.ts
  packages/passthrough-sdk/src/server/streamableHttp.ts
  packages/passthrough-sdk/src/shared/passthroughSessionContext.ts
Labels: test

test: add DELETE session termination test and fix linting
  packages/passthrough-sdk/src/integration-tests/passthrough-cleanup.integration.test.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.integration.test.ts
Labels: test

feat: complete passthrough SDK with stdio-to-HTTP support and documentation
  packages/passthrough-sdk/.npmignore
  packages/passthrough-sdk/CHANGELOG.md
  packages/passthrough-sdk/README.md
  packages/passthrough-sdk/package.json
  packages/passthrough-sdk/src/client/httpClientContext.ts
  packages/passthrough-sdk/src/client/passthroughClient.ts
  packages/passthrough-sdk/src/hook/hookChain.ts
  packages/passthrough-sdk/src/index.ts
  packages/passthrough-sdk/src/integration-tests/passthrough-cleanup.integration.test.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.http.to.http.integration.test.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
  packages/passthrough-sdk/src/legacy/client/streamableHttp.test.ts
  packages/passthrough-sdk/src/legacy/client/streamableHttp.ts
  packages/passthrough-sdk/src/legacy/passthroughTransport.ts
  packages/passthrough-sdk/src/legacy/server/streamableHttp.test.ts
  packages/passthrough-sdk/src/legacy/server/streamableHttp.ts
  packages/passthrough-sdk/src/logger/logger.ts
  packages/passthrough-sdk/src/server/httpServerContext.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  pnpm-lock.yaml
Labels: documentation, dependencies, test

feat: add CLI and proxy functionality with comprehensive configuration
  packages/passthrough-sdk/src/cli.ts
  packages/passthrough-sdk/src/proxy/config.test.ts
  packages/passthrough-sdk/src/proxy/config.ts
  packages/passthrough-sdk/src/proxy/createProxies.test.ts
  packages/passthrough-sdk/src/proxy/createProxies.ts
  packages/passthrough-sdk/src/proxy/http/authProxy.ts
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-sdk/src/proxy/types.ts
Labels: test

feat: convert HookChain to doubly linked list for bidirectional traversal
  packages/passthrough-sdk/src/hook/hookChain.test.ts
  packages/passthrough-sdk/src/hook/hookChain.ts
Labels: test

chore: unified mcp sdk version to 1.17.1
  packages/alert-hook/package.json
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/package.json
  packages/passthrough-sdk/package.json
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
  pnpm-lock.yaml
  test/integration/hooks/package.json
  test/integration/package.json
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/broken-server/package.json
  test/integration/servers/echo/package.json
  test/integration/servers/local-stdio/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, dependencies, test

fix: update hook chain tests and fix auth header configuration
  packages/passthrough-sdk/src/hook/hookChain.test.ts
  packages/passthrough-sdk/src/hook/hookChain.ts
  packages/passthrough-sdk/src/hook/localHookClient.test.ts
  packages/passthrough-sdk/src/hook/manager.test.ts
  packages/passthrough-sdk/src/hook/manager.ts
  packages/passthrough-sdk/src/hook/utils.test.ts
  packages/passthrough-sdk/src/hook/utils.ts
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/proxy/stdio/stdioPassthroughProxy.ts
Labels: test

test: update processor tests for LinkedListHook implementation with null handling
  packages/passthrough-sdk/src/hook/processor.test.ts
  packages/passthrough-sdk/src/hook/processor.ts
  packages/passthrough-sdk/src/index.ts
  packages/passthrough-sdk/src/integration-tests/passthrough-cleanup.integration.test.ts
  packages/passthrough-sdk/src/legacy/client/streamableHttp.test.ts
  packages/passthrough-sdk/src/legacy/client/streamableHttp.ts
  packages/passthrough-sdk/src/legacy/passthroughTransport.ts
  packages/passthrough-sdk/src/legacy/server/streamableHttp.test.ts
  packages/passthrough-sdk/src/legacy/server/streamableHttp.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  packages/passthrough-sdk/src/shared/passthroughSessionContext.ts
Labels: test

feat: implement hook processing pattern for server request handlers
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
Labels: none

refactor: improve hook result handling in processServerRequest
  packages/passthrough-sdk/src/shared/passthroughContext.ts
Labels: none

refactor: migrate integration tests to use @civic/passthrough-sdk package
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/shared/mcpErrorUtils.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  pnpm-lock.yaml
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
  test/integration/hooks/package.json
  test/integration/package.json
  test/integration/servers/programmatic-passthrough/package.json
  test/integration/servers/programmatic-passthrough/src/index.ts
  test/integration/stdio/sdk-client.ts
  test/integration/stdio/test-server-with-local-tools.ts
Labels: dependencies, test

feat: implement RequestContext forwarding through Protocol and Transport layers
  packages/passthrough-sdk/src/protocol/passthroughBaseProtocol.ts
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/proxy/http/mcpHttpServer.ts
  packages/passthrough-sdk/src/proxy/http/mcpSessionManager.ts
  packages/passthrough-sdk/src/proxy/http/utils.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  packages/passthrough-sdk/src/transports/extendedStreamableHTTPClientTransport.ts
Labels: none

fix: update CallCounterHook type definition and add request/response metadata
  packages/passthrough-sdk/src/integration-tests/passthrough.http.to.http.integration.test.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
  test/integration/hooks/CallCounterHook.ts
  test/integration/http/transport-errors.test.ts
  test/integration/servers/echo/src/index.ts
  test/integration/setup-test-servers.sh
Labels: test

refactor: rename ExtendedStreamableHTTPClientTransport to RequestContextAwareStreamableHTTPClientTransport
  packages/passthrough-sdk/src/index.ts
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/transports/requestContextAwareStreamableHTTPClientTransport.ts
Labels: none

ci: fixed CI integration tests by adding tsx as a devDependency
  packages/passthrough-sdk/package.json
  pnpm-lock.yaml
Labels: dependencies

fix: resolve lint errors in passthrough-sdk
  packages/passthrough-sdk/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
  packages/passthrough-sdk/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-sdk/src/shared/passthroughContext.ts
Labels: test

refactor: create StdioTestHelper to fix CI timing issues in integration tests
  packages/passthrough-sdk/src/integration-tests/helpers/StdioTestHelper.ts
  packages/passthrough-sdk/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
Labels: test

refactor: remove unused serverInfo and clientInfo config options
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/src/proxy/config.ts
Labels: passthrough-mcp-server

refactor: rename transportType to sourceTransportType for server config
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/src/cli.ts
  packages/passthrough-mcp-server/src/hook/manager.test.ts
  packages/passthrough-mcp-server/src/proxy/config.test.ts
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.test.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
Labels: passthrough-mcp-server, test

fix: update integration test servers to use sourceTransportType
  test/integration/servers/programmatic-passthrough/src/index.ts
  test/integration/stdio/test-server-with-local-tools.ts
Labels: test

refactor: export PassthroughContext and remove unused getters
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

docs: update changelog and README for 0.7.0 release with protocol-level architecture
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
Labels: documentation, passthrough-mcp-server

fix: configure logger for stdio when using createStdioPassthroughProxy programmatically
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
Labels: passthrough-mcp-server

chore: pnpm-lock update to reflect latest config.
  pnpm-lock.yaml
Labels: dependencies

refactor: replace console output with logger throughout passthrough-mcp-server
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/examples/request-manipulation-hook.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
Labels: passthrough-mcp-server

refactor: use configurable mcpPath instead of hardcoded /mcp endpoint
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/http/mcpHttpServer.ts
  test/integration/test-config.ts
Labels: passthrough-mcp-server, test

refactor: create transport factory helper for consistent client transport creation
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/transportFactory.ts
Labels: passthrough-mcp-server

refactor: update transport factory interface to use synchronous factory functions
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/transportFactory.ts
Labels: passthrough-mcp-server

chore: exclude integration-tests from dist build
  packages/passthrough-mcp-server/tsconfig.json
Labels: passthrough-mcp-server

refactor: improve TargetConfig type safety with discriminated unions
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/transportFactory.ts
Labels: documentation, passthrough-mcp-server

refactor: move mcpErrorUtils to error directory and add passthroughContext tests
  packages/passthrough-mcp-server/src/error/mcpErrorUtils.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

feat: make client transport optional and add comprehensive error codes
  packages/passthrough-mcp-server/src/error/errorCodes.ts
  packages/passthrough-mcp-server/src/error/mcpErrorUtils.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'hook-common' label to changes in the hook-common package
hook-common:
  - changed-files:
    - any-glob-to-any-file: 'packages/hook-common/**'

# Add 'passthrough-mcp-server' label to changes in the passthrough-mcp-server package
passthrough-mcp-server:
  - changed-files:
    - any-glob-to-any-file: 'packages/passthrough-mcp-server/**'

# Add 'audit-hook' label to changes in the audit-hook package
audit-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/audit-hook/**'

# Add 'guardrail-hook' label to changes in the guardrail-hook package
guardrail-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/guardrail-hook/**'

# Add 'simple-log-hook' label to changes in the simple-log-hook package
simple-log-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/simple-log-hook/**'

# Add 'fetch-docs' label to changes in the fetch-docs package
fetch-docs:
  - changed-files:
    - any-glob-to-any-file: 'packages/fetch-docs/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
