Repository civicteam/mcp-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies, ci, test

fix: handle custom transport types in passthrough proxies
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/http/mcpHttpServer.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
Labels: passthrough-mcp-server

fix: improve custom transport handling and remove SSE source transport
  packages/passthrough-mcp-server/src/cli.ts
  packages/passthrough-mcp-server/src/proxy/config.test.ts
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/transportFactory.ts
  test/integration/hooks/CallCounterHook.ts
  test/integration/http/headers.test.ts
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/api-key-protected/src/index.ts
  test/integration/servers/api-key-protected/tsconfig.json
  test/integration/stdio/test-server-with-local-tools.ts
Labels: passthrough-mcp-server, dependencies, test

refactor: remove TransportError functions and alert-hook package
  README.md
  packages/alert-hook/README.md
  packages/alert-hook/package.json
  packages/alert-hook/src/hook.test.ts
  packages/alert-hook/src/index.ts
  packages/alert-hook/tsconfig.json
  packages/alert-hook/vitest.config.ts
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  test/integration/http/transport-errors.test.ts
  test/integration/setup-test-servers.sh
Labels: documentation, hook-common, passthrough-mcp-server, dependencies, test

feat: updated Hook interface to cover new passthrough-mcp-server functionality
  packages/api-key-hook/src/hook.ts
  packages/audit-hook/src/hook.ts
  packages/explain-hook/src/hook.ts
  packages/guardrail-hook/src/hook.ts
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/local-tools-hook/src/hook.ts
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/examples/request-manipulation-hook.ts
  packages/passthrough-mcp-server/src/hook/localHookClient.test.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/hook/utils.test.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  packages/rate-limit-hook/src/RateLimitHook.ts
  packages/simple-log-hook/src/index.ts
  pnpm-lock.yaml
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, dependencies, test

feat: implement bidirectional hook processing with comprehensive test coverage
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/examples/request-manipulation-hook.ts
  packages/passthrough-mcp-server/src/hook/localHookClient.test.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/hook/utils.test.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.http.to.http.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

feat: add server-hook package with MCP initialization handling
  packages/api-key-hook/src/hook.ts
  packages/audit-hook/src/hook.ts
  packages/explain-hook/src/hook.ts
  packages/guardrail-hook/src/hook.ts
  packages/local-tools-hook/src/hook.ts
  packages/server-hook/package.json
  packages/server-hook/src/hook.test.ts
  packages/server-hook/src/hook.ts
  packages/server-hook/src/index.ts
  packages/server-hook/tsconfig.json
  packages/server-hook/vitest.config.ts
  pnpm-lock.yaml
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
Labels: audit-hook, guardrail-hook, dependencies, test

feat: add hooks-only integration tests for PassthroughContext
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/integration-tests/passthrough.hooks-only.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.http.to.http.integration.test.ts
  pnpm-lock.yaml
Labels: passthrough-mcp-server, dependencies, test

chore: update package versions and add comprehensive documentation
  packages/api-key-hook/CHANGELOG.md
  packages/api-key-hook/package.json
  packages/audit-hook/CHANGELOG.md
  packages/audit-hook/package.json
  packages/custom-description-hook/CHANGELOG.md
  packages/custom-description-hook/package.json
  packages/explain-hook/CHANGELOG.md
  packages/explain-hook/package.json
  packages/guardrail-hook/CHANGELOG.md
  packages/guardrail-hook/package.json
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/rate-limit-hook/CHANGELOG.md
  packages/rate-limit-hook/package.json
  packages/server-hook/CHANGELOG.md
  packages/server-hook/README.md
  packages/server-hook/package.json
  packages/simple-log-hook/CHANGELOG.md
  packages/simple-log-hook/package.json
Labels: documentation, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, dependencies

fix: add missing HTTP proxy config properties to HttpProxyConfig type
  packages/passthrough-mcp-server/src/proxy/createProxies.test.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
Labels: passthrough-mcp-server, test

feat: restructure Config interface with nested source/target objects
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/cli.ts
  packages/passthrough-mcp-server/src/hook/manager.test.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/proxy/config.test.ts
  packages/passthrough-mcp-server/src/proxy/config.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.test.ts
  packages/passthrough-mcp-server/src/proxy/createProxies.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/transportFactory.ts
  test/integration/servers/programmatic-passthrough/src/index.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

feat: expose source and target interfaces from PassthroughContext for direct transport communication
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.http.to.http.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.stdio.to.http.integration.test.ts
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

feat: remove exception catching from LocalHookClient
  packages/api-key-hook/CHANGELOG.md
  packages/explain-hook/CHANGELOG.md
  packages/hook-common/CHANGELOG.md
  packages/hook-common/src/localClient.test.ts
  packages/hook-common/src/localClient.ts
  packages/local-tools-hook/CHANGELOG.md
  packages/server-hook/CHANGELOG.md
Labels: documentation, hook-common, test

feat: add metadata options to PassthroughContext
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/shared/metadataHelper.test.ts
  packages/passthrough-mcp-server/src/shared/metadataHelper.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

feat: add RequestExtra parameter to Hook interface for request tracking
  packages/hook-common/CHANGELOG.md
  packages/hook-common/README.md
  packages/hook-common/package.json
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.test.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/client/passthroughClient.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.hooks-only.integration.test.ts
  packages/passthrough-mcp-server/src/protocol/passthroughBaseProtocol.ts
  packages/passthrough-mcp-server/src/server/passthroughServer.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  packages/passthrough-mcp-server/src/shared/passthroughEndpoint.ts
  packages/simple-log-hook/src/index.ts
Labels: documentation, hook-common, passthrough-mcp-server, simple-log-hook, dependencies, test

feat: enhance error handling across hook system
  packages/explain-hook/src/hook.ts
  packages/guardrail-hook/src/hook.ts
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.test.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/local-tools-hook/src/hook.test.ts
  packages/local-tools-hook/src/hook.ts
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/src/error/mcpErrorUtils.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/integration-tests/error-callbacks.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  packages/rate-limit-hook/src/RateLimitHook.ts
Labels: hook-common, passthrough-mcp-server, guardrail-hook, test

chore: hook-common and passthrough-mcp-server version bump and changelog.
  packages/hook-common/CHANGELOG.md
  packages/hook-common/README.md
  packages/hook-common/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, hook-common, passthrough-mcp-server, dependencies

feat: add comprehensive resource hook support to MCP hook system
  packages/hook-common/CHANGELOG.md
  packages/hook-common/README.md
  packages/hook-common/package.json
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/hook/manager.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.resources.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: documentation, hook-common, passthrough-mcp-server, dependencies, test

feat: remove RequestExtraSchema and improve type safety in router
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, hook-common, passthrough-mcp-server, dependencies

feat: enhance RequestExtra propagation with complete field mapping
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  packages/passthrough-mcp-server/src/shared/requestExtraMapper.test.ts
  packages/passthrough-mcp-server/src/shared/requestExtraMapper.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

feat: expose proxyContext and sessionManager in proxy implementations
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/proxy/http/httpPassthroughProxy.ts
  packages/passthrough-mcp-server/src/proxy/stdio/stdioPassthroughProxy.ts
Labels: documentation, passthrough-mcp-server, dependencies

feat: add prompts/list support to hook-common and passthrough-mcp-server
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: hook-common, passthrough-mcp-server

chore: bump versions and update changelogs for prompts support
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, hook-common, passthrough-mcp-server, dependencies

test: add comprehensive tests for prompts/list functionality
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/localClient.test.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/integration-tests/passthrough.hooks-only.integration.test.ts
Labels: hook-common, passthrough-mcp-server, test

feat: add continueAsync support to RequestHookResult types with tRPC validation
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
Labels: hook-common, test

feat: update continueAsync callback to accept response OR error
  packages/hook-common/src/types.ts
Labels: hook-common

fix: update all test calls to match new processResponseThroughHooks signature
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/src/hook/processor.test.ts
  packages/passthrough-mcp-server/src/hook/processor.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

feat: implement continueAsync support in passthrough request processing
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

test: add integration tests for continueAsync hook functionality
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
Labels: passthrough-mcp-server, test

test: add integration tests for continueAsync with upstream client scenarios
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
Labels: passthrough-mcp-server, test

test: add unit tests for continueAsync in PassthroughContext
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
Labels: passthrough-mcp-server, test

feat: add continueAsync error handling and comprehensive tests
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.test.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server, test

chore: bump versions and update changelogs for continueAsync support
  packages/hook-common/CHANGELOG.md
  packages/hook-common/README.md
  packages/hook-common/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, hook-common, passthrough-mcp-server, dependencies

fix: resolve typecheck errors in continueAsync callback invocations
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

test: add router tests to verify continueAsync rejection logic
  packages/hook-common/src/router.test.ts
Labels: hook-common, test

fix(deps): upgrade @modelcontextprotocol/sdk to 1.24.1 for CVE-2025-66414
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/local-tools-hook/package.json
  packages/local-tools-hook/src/hook.test.ts
  packages/local-tools-hook/src/hook.ts
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/error-callbacks.integration.test.ts
  packages/passthrough-mcp-server/src/protocol/passthroughBaseProtocol.ts
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
  packages/server-hook/package.json
  packages/server-hook/src/hook.test.ts
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
  pnpm-lock.yaml
  test/integration/hooks/package.json
  test/integration/package.json
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/broken-server/package.json
  test/integration/servers/echo/package.json
  test/integration/servers/local-stdio/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, dependencies, test

refactor: update transport request schemas to use AnySchema for improved compatibility
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

Fix lint errors
  packages/passthrough-mcp-server/src/shared/passthroughContext.ts
Labels: passthrough-mcp-server

Upgrade to MCP SDK 1.24 and zod 4
  packages/audit-hook/package.json
  packages/custom-description-hook/package.json
  packages/explain-hook/package.json
  packages/fetch-docs/package.json
  packages/guardrail-hook/package.json
  packages/hook-common/package.json
  packages/hook-common/src/types.ts
  packages/local-tools-hook/package.json
  packages/local-tools-hook/src/hook.test.ts
  packages/local-tools-hook/src/hook.ts
  packages/local-tools-hook/src/types.ts
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/integration-tests/continueAsync.integration.test.ts
  packages/passthrough-mcp-server/src/integration-tests/error-callbacks.integration.test.ts
  packages/passthrough-mcp-server/src/protocol/passthroughBaseProtocol.ts
  packages/server-hook/package.json
  packages/server-hook/src/hook.test.ts
  packages/simple-log-hook/package.json
  packages/whoami-server/package.json
  pnpm-lock.yaml
  test/integration/hooks/package.json
  test/integration/package.json
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/broken-server/package.json
  test/integration/servers/echo/package.json
  test/integration/servers/local-stdio/package.json
Labels: hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies, test

Upgrade to MCP SDK 1.24 and zod 4
  .github/workflows/ci.yml
Labels: ci

Fix for type in local tools hook
  packages/local-tools-hook/src/hook.ts
Labels: none

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'hook-common' label to changes in the hook-common package
hook-common:
  - changed-files:
    - any-glob-to-any-file: 'packages/hook-common/**'

# Add 'passthrough-mcp-server' label to changes in the passthrough-mcp-server package
passthrough-mcp-server:
  - changed-files:
    - any-glob-to-any-file: 'packages/passthrough-mcp-server/**'

# Add 'audit-hook' label to changes in the audit-hook package
audit-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/audit-hook/**'

# Add 'guardrail-hook' label to changes in the guardrail-hook package
guardrail-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/guardrail-hook/**'

# Add 'simple-log-hook' label to changes in the simple-log-hook package
simple-log-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/simple-log-hook/**'

# Add 'fetch-docs' label to changes in the fetch-docs package
fetch-docs:
  - changed-files:
    - any-glob-to-any-file: 'packages/fetch-docs/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
