Repository civicteam/mcp-hooks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, fetch-docs, dependencies, ci, test

Fix typing for PassthroughClient interface and bump beta versions
  packages/hook-common/package.json
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/context/PassthroughServerHookContext.test.ts
  packages/passthrough-mcp-server/src/context/PassthroughServerHookContext.ts
  packages/passthrough-mcp-server/src/server/passthrough.test.ts
Labels: hook-common, passthrough-mcp-server, dependencies, test

Fix workspace dependency and bump to beta.3
  packages/passthrough-mcp-server/package.json
Labels: passthrough-mcp-server, dependencies

Export hook context utilities and bump to beta.4
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/index.ts
Labels: passthrough-mcp-server, dependencies

Fix LocalHookClient to pass context parameter and bump versions
  packages/hook-common/package.json
  packages/hook-common/src/localClient.ts
  packages/passthrough-mcp-server/package.json
Labels: hook-common, passthrough-mcp-server, dependencies

Switching to a true http proxy approach.
  package.json
  packages/passthrough-mcp-server/src/client/client.ts
  packages/passthrough-mcp-server/src/createPassthroughProxy.test.ts
  packages/passthrough-mcp-server/src/hooks/manager.ts
  packages/passthrough-mcp-server/src/server/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  packages/passthrough-mcp-server/src/server/stdioHandler.ts
  packages/passthrough-mcp-server/src/server/streamingMessageHandler.ts
  packages/passthrough-mcp-server/src/types/client.ts
  packages/passthrough-mcp-server/src/utils/config.ts
  packages/passthrough-mcp-server/src/utils/sse.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sse.md
  test/integration/README.md
  test/integration/auth.test.ts
  test/integration/index.test.ts
  test/integration/package.json
  test/integration/ping.test.ts
  test/integration/servers/echo/package.json
  test/integration/servers/echo/src/index.ts
  test/integration/servers/echo/tsconfig.json
  test/integration/session.test.ts
  test/integration/setup-test-servers.sh
  test/integration/streaming.test.ts
  test/integration/tsconfig.json
  test/integration/vitest.config.ts
Labels: documentation, passthrough-mcp-server, dependencies, test

Integration tests pass
  biome.json
  package.json
  packages/fetch-docs/package.json
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/createPassthroughProxy.test.ts
  packages/passthrough-mcp-server/src/createPassthroughProxy.ts
  packages/passthrough-mcp-server/src/hooks/manager.ts
  packages/passthrough-mcp-server/src/integration/fullPipeline.test.ts
  packages/passthrough-mcp-server/src/server/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  packages/passthrough-mcp-server/src/server/stdioHandler.ts
  packages/passthrough-mcp-server/src/server/streamingMessageHandler.ts
  packages/passthrough-mcp-server/src/utils/http.ts
  packages/passthrough-mcp-server/src/utils/logger.ts
  packages/passthrough-mcp-server/src/utils/sse.ts
  packages/whoami-server/package.json
  packages/whoami-server/src/index.ts
  packages/whoami-server/test/fixture/jwk.json
  packages/whoami-server/tsconfig.json
  pnpm-lock.yaml
  test/integration/README.md
  test/integration/auth.test.ts
  test/integration/fixtures/jwt.txt
  test/integration/index.test.ts
  test/integration/package.json
  test/integration/ping.test.ts
  test/integration/servers/echo/package.json
  test/integration/servers/echo/src/index.ts
  test/integration/servers/echo/tsconfig.json
  test/integration/session.test.ts
  test/integration/setup-test-servers.sh
  test/integration/streaming.test.ts
  test/integration/test-client.ts
  test/integration/test-config.ts
  test/integration/tsconfig.json
  test/integration/vitest.config.ts
Labels: documentation, passthrough-mcp-server, fetch-docs, dependencies, test

Hook tests and stdio tests
  packages/explain-hook/src/hook.ts
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/run.sh
  packages/passthrough-mcp-server/src/server/stdioHandler.ts
  pnpm-lock.yaml
  test/integration/http/auth.test.ts
  test/integration/http/hooks.test.ts
  test/integration/http/ping.test.ts
  test/integration/http/session.test.ts
  test/integration/http/streaming.test.ts
  test/integration/package.json
  test/integration/servers/echo/src/index.ts
  test/integration/setup-test-servers.sh
  test/integration/stdio/basic.test.ts
  test/integration/stdio/hooks.test.ts
  test/integration/stdio/ping.test.ts
  test/integration/stdio/sdk-client.ts
  test/integration/test-config.ts
Labels: passthrough-mcp-server, dependencies, test

More stdio tests
  packages/passthrough-mcp-server/src/server/stdioHandler.ts
  test/integration/servers/echo/src/index.ts
  test/integration/stdio/basic.test.ts
  test/integration/stdio/hooks.test.ts
  test/integration/stdio/ping.test.ts
Labels: passthrough-mcp-server, test

Updated CI and tests
  .github/workflows/ci.yml
  CONTRIBUTING.md
  packages/passthrough-mcp-server/src/createPassthroughProxy.test.ts
  test/integration/README.md
  test/integration/package.json
  test/integration/setup-test-servers.sh
Labels: documentation, passthrough-mcp-server, dependencies, ci, test

Updated E2E test
  .github/workflows/ci.yml
  test/integration/setup-test-servers.sh
  test/simple-log-passthrough.json
Labels: ci, test

Integration tests reduce flakiness
  test/integration/http/ping.test.ts
Labels: test

Fix for e2e test
  .github/workflows/ci.yml
  packages/passthrough-mcp-server/run.sh
  test/simple-log-passthrough.json
Labels: passthrough-mcp-server, ci, test

Update e2e test configs
  test/audit-guardrail-passthrough.json
  test/audit-passthrough.json
  test/bodyguard-passthrough-pass.json
  test/bodyguard-passthrough-reject.json
  test/custom-description-passthrough.json
  test/explain-hook-passthrough.json
  test/passthrough-auth.json
  test/passthrough.json
Labels: test

Programmatic hook integration test
  pnpm-lock.yaml
  test/integration/http/programmatic-hooks.test.ts
  test/integration/servers/programmatic-passthrough/README.md
  test/integration/servers/programmatic-passthrough/package.json
  test/integration/servers/programmatic-passthrough/src/index.ts
  test/integration/setup-test-servers.sh
  test/integration/test-config.ts
Labels: documentation, dependencies, test

Store test output in CI
  .github/workflows/ci.yml
Labels: ci

Fix CI e2e test
  packages/passthrough-mcp-server/run.sh
Labels: passthrough-mcp-server

Fix CI e2e test
  .github/workflows/ci.yml
Labels: ci

Test for sessionID handling
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
  test/integration/hooks/package.json
  test/integration/http/programmatic-hooks.test.ts
  test/integration/servers/programmatic-passthrough/package.json
  test/integration/servers/programmatic-passthrough/src/index.ts
Labels: dependencies, test

chore: bump @civic/passthrough-mcp-server to v0.3.0
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, passthrough-mcp-server, dependencies

chore: bump @civic/passthrough-mcp-server to v0.4.0
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, passthrough-mcp-server, dependencies

fix: use pnpm publish to resolve workspace dependencies
  .github/workflows/release.yml
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, passthrough-mcp-server, dependencies, ci

Update readmes and rename parameters
  packages/guardrail-hook/README.md
  packages/hook-common/src/AbstractHook.ts
  packages/local-tools-hook/README.md
  packages/local-tools-hook/package.json
  packages/local-tools-hook/src/hook.test.ts
  packages/local-tools-hook/src/hook.ts
  packages/local-tools-hook/src/types.ts
  packages/passthrough-mcp-server/README.md
  packages/rate-limit-hook/README.md
  packages/rate-limit-hook/package.json
  packages/whoami-server/package.json
  pnpm-lock.yaml
  test/integration/stdio/test-server-with-local-tools.ts
Labels: documentation, hook-common, passthrough-mcp-server, guardrail-hook, dependencies, test

chore: prepare release for hook-common v0.1.0, passthrough-mcp-server v0.5.0, and local-tools-hook v0.1.0
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/local-tools-hook/CHANGELOG.md
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, hook-common, passthrough-mcp-server, dependencies

Add initialize hook support and fix transport error processing
  packages/alert-hook/src/index.ts
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
  packages/passthrough-mcp-server/src/lib/hooks/types.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/errors.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/normalize.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/responses.ts
  packages/passthrough-mcp-server/src/server/http/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  test/integration/http/transport-errors.test.ts
  test/integration/servers/broken-server/src/index.ts
Labels: hook-common, passthrough-mcp-server, test

Clean up debug logging and simplify code
  packages/alert-hook/src/index.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/errors.ts
  packages/passthrough-mcp-server/src/server/http/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  test/integration/http/transport-errors.test.ts
  test/integration/servers/broken-server/src/index.ts
Labels: passthrough-mcp-server, test

Generalise hook calling logic
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
  packages/passthrough-mcp-server/src/lib/hooks/types.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/errors.ts
  packages/passthrough-mcp-server/src/server/http/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  packages/passthrough-mcp-server/src/server/stdio/ProxyStdioServerTransport.ts
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
  test/integration/http/transport-errors.test.ts
  test/integration/servers/broken-server/package.json
  test/integration/servers/broken-server/src/index.ts
  test/integration/servers/broken-server/tsconfig.json
  test/integration/servers/local-stdio/index.ts
  test/integration/servers/local-stdio/package.json
  test/integration/stdio/local-tools.test.ts
  test/integration/stdio/sdk-client.ts
  test/integration/stdio/test-server-with-local-tools.ts
Labels: hook-common, passthrough-mcp-server, dependencies, test

Reduce duplicate code through use of generic types
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: documentation, hook-common, passthrough-mcp-server, test

Docs and comments
  README.md
  packages/alert-hook/src/index.ts
  packages/hook-common/README.md
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/lib/config.ts
  packages/passthrough-mcp-server/src/lib/jsonrpc/responses.ts
  packages/passthrough-mcp-server/src/server/http/mcpHandler.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  packages/passthrough-mcp-server/src/server/stdio/ProxyStdioServerTransport.ts
  packages/simple-log-hook/src/index.ts
  test/integration/README.md
Labels: documentation, hook-common, passthrough-mcp-server, simple-log-hook, test

Lint fixes
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: hook-common, passthrough-mcp-server, test

chore: bump versions for release
  packages/hook-common/package.json
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/package.json
Labels: hook-common, passthrough-mcp-server, dependencies

feat: add respond option to transport error hooks
  packages/hook-common/src/types.ts
Labels: hook-common

chore: bump versions for release
  packages/hook-common/package.json
  packages/passthrough-mcp-server/package.json
Labels: hook-common, passthrough-mcp-server, dependencies

Lint fixes
  packages/hook-common/src/types.ts
  test/integration/hooks/CallCounterHook.ts
  test/integration/hooks/ReadSessionIdHook.ts
  test/integration/stdio/test-server-with-local-tools.ts
Labels: hook-common, test

Full support for transport error hook responses
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/createProxies.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.test.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: hook-common, passthrough-mcp-server, test

chore: bump versions for release
  packages/hook-common/package.json
  packages/passthrough-mcp-server/package.json
Labels: hook-common, passthrough-mcp-server, dependencies

fix: add missing initialize transport error methods to LocalHookClient
  packages/hook-common/package.json
  packages/hook-common/src/localClient.ts
Labels: hook-common, dependencies

fix: wrap transport error hook responses in proper JSON-RPC format
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.test.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
Labels: passthrough-mcp-server, dependencies, test

feat: implement request context for header manipulation in hooks
  packages/api-key-hook/package.json
  packages/api-key-hook/src/hook.ts
  packages/api-key-hook/src/index.ts
  packages/api-key-hook/tsconfig.json
  packages/api-key-hook/vitest.config.ts
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/examples/request-manipulation-hook.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
  pnpm-lock.yaml
  test/integration/http/headers.test.ts
  test/integration/servers/api-key-protected/package.json
  test/integration/servers/api-key-protected/src/index.ts
  test/integration/servers/api-key-protected/tsconfig.json
  test/integration/setup-test-servers.sh
  test/integration/test-config.ts
Labels: hook-common, passthrough-mcp-server, dependencies, test

chore: update pnpm lockfile and fix scripts after removing @trpc/server from api-key-hook
  packages/api-key-hook/package.json
  pnpm-lock.yaml
Labels: dependencies

fix: ensure short-circuited responses use hooks
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: passthrough-mcp-server

.github/labeler.yml:

# Add 'documentation' label to any change in docs files
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

# Add 'hook-common' label to changes in the hook-common package
hook-common:
  - changed-files:
    - any-glob-to-any-file: 'packages/hook-common/**'

# Add 'passthrough-mcp-server' label to changes in the passthrough-mcp-server package
passthrough-mcp-server:
  - changed-files:
    - any-glob-to-any-file: 'packages/passthrough-mcp-server/**'

# Add 'audit-hook' label to changes in the audit-hook package
audit-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/audit-hook/**'

# Add 'guardrail-hook' label to changes in the guardrail-hook package
guardrail-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/guardrail-hook/**'

# Add 'simple-log-hook' label to changes in the simple-log-hook package
simple-log-hook:
  - changed-files:
    - any-glob-to-any-file: 'packages/simple-log-hook/**'

# Add 'fetch-docs' label to changes in the fetch-docs package
fetch-docs:
  - changed-files:
    - any-glob-to-any-file: 'packages/fetch-docs/**'

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/package.json'
      - '**/pnpm-lock.yaml'
      - '.npmrc'

# Add 'ci' label to CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'
      - 'turbo.json'

# Add 'test' label to test changes
test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - '**/vitest.config.ts'
      - '**/test/**'
