Repository civicteam/mcp-hooks, pull requests merged in 2025-07, with the labels that each got.

#24 fix: use pnpm publish to resolve workspace dependencies
  .github/workflows/release.yml
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, dependencies, passthrough-mcp-server, ci

#27 chore: prepare release for hook-common v0.1.0, passthrough-mcp-server…
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/local-tools-hook/CHANGELOG.md
  packages/local-tools-hook/package.json
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
Labels: documentation, dependencies, hook-common, passthrough-mcp-server

#30 Full support for transport error hook responses
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/src/createProxies.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.test.ts
  packages/passthrough-mcp-server/src/lib/hooks/transport-error.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: hook-common, passthrough-mcp-server, test

#31 chore: bump versions for release
  packages/hook-common/package.json
  packages/passthrough-mcp-server/package.json
Labels: dependencies, hook-common, passthrough-mcp-server

#36 fix: ensure response hooks are processed when request hook returns direct response
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/server/messageHandler.ts
Labels: passthrough-mcp-server, test
