Repository civicteam/mcp-hooks, pull requests merged in 2025-06, with the labels that each got.

#6 WIP: hub-bridge changes
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/client/client.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/server/passthrough.ts
  packages/passthrough-mcp-server/src/server/server.ts
  packages/passthrough-mcp-server/src/types/client.ts
  packages/passthrough-mcp-server/src/utils/config.ts
  packages/passthrough-mcp-server/src/utils/session.ts
Labels: dependencies, passthrough-mcp-server

#9 Feature/hook registration
  packages/audit-hook/src/hook.ts
  packages/custom-description-hook/src/hook.ts
  packages/explain-hook/src/hook.ts
  packages/guardrail-hook/src/hook.ts
  packages/hook-common/package.json
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.test.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/index.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/examples/programmatic-usage.ts
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/client/client.ts
  packages/passthrough-mcp-server/src/createPassthroughProxy.test.ts
  packages/passthrough-mcp-server/src/createPassthroughProxy.ts
  packages/passthrough-mcp-server/src/hooks/localHookClient.test.ts
  packages/passthrough-mcp-server/src/hooks/manager.test.ts
  packages/passthrough-mcp-server/src/hooks/manager.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/integration/fullPipeline.test.ts
  packages/passthrough-mcp-server/src/server/passthrough.ts
  packages/passthrough-mcp-server/src/server/server.ts
  packages/passthrough-mcp-server/src/server/transport.ts
  packages/passthrough-mcp-server/src/types/client.ts
  packages/passthrough-mcp-server/src/utils/config.test.ts
  packages/passthrough-mcp-server/src/utils/config.ts
  packages/simple-log-hook/src/index.ts
Labels: documentation, dependencies, hook-common, passthrough-mcp-server, audit-hook, guardrail-hook, simple-log-hook, test

#11 feat: Add simplified hook API for external service integration
  README.md
  packages/passthrough-mcp-server/README.md
  packages/passthrough-mcp-server/examples/hook-api-example.ts
  packages/passthrough-mcp-server/src/hooks/apply.test.ts
  packages/passthrough-mcp-server/src/hooks/apply.ts
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/hooks/utils.test.ts
  packages/passthrough-mcp-server/src/hooks/utils.ts
  packages/passthrough-mcp-server/src/index.ts
  packages/passthrough-mcp-server/src/utils/error.test.ts
  packages/passthrough-mcp-server/src/utils/error.ts
  packages/rate-limit-hook/README.md
  packages/rate-limit-hook/package.json
  packages/rate-limit-hook/src/RateLimitHook.ts
  packages/rate-limit-hook/src/index.ts
  packages/rate-limit-hook/tsconfig.json
  pnpm-lock.yaml
Labels: documentation, dependencies, passthrough-mcp-server, test

#12 Improve client connection lifecycle management
  packages/passthrough-mcp-server/src/createPassthroughProxy.test.ts
  packages/passthrough-mcp-server/src/createPassthroughProxy.ts
  packages/passthrough-mcp-server/src/server/passthrough.ts
  packages/passthrough-mcp-server/src/server/server.ts
  packages/passthrough-mcp-server/src/types/client.ts
  packages/passthrough-mcp-server/src/utils/session.test.ts
  packages/passthrough-mcp-server/src/utils/session.ts
Labels: passthrough-mcp-server, test

#16 Add processToolException hook for handling callTool exceptions
  .github/workflows/ci.yml
  packages/hook-common/CHANGELOG.md
  packages/hook-common/package.json
  packages/hook-common/src/AbstractHook.ts
  packages/hook-common/src/client.ts
  packages/hook-common/src/localClient.ts
  packages/hook-common/src/router.ts
  packages/hook-common/src/types.ts
  packages/passthrough-mcp-server/CHANGELOG.md
  packages/passthrough-mcp-server/package.json
  packages/passthrough-mcp-server/src/hooks/processor.test.ts
  packages/passthrough-mcp-server/src/hooks/processor.ts
  packages/passthrough-mcp-server/src/server/passthrough.test.ts
  packages/passthrough-mcp-server/src/server/passthrough.ts
Labels: documentation, dependencies, hook-common, passthrough-mcp-server, test, ci
